/* .placeholder {
    border-radius: 4px;
    width: 70%;
    align-self: center;
    background-color: #494949;
    margin: 20px auto;
    box-shadow: 15px 15px 5px black;
    padding: 10px;
    height: 350px;
} */

.cdk-virtual-scroll-viewport {
    box-sizing: border-box;
    height: 100vh;
}

h1 {
    text-align: center;
    margin: 5;
}

.placeholder {
    margin: 20px auto;
    align-self: center;
    max-width: 600px;
}

.placeholder-child {
    display: block;
}